---
import Sprite from "../../components/Sprite.astro";
import Shell from "../../layouts/Shell.astro";
import { generateGetStaticIndexPaths } from "../../utils/paths";

export const getStaticPaths = generateGetStaticIndexPaths("[...locale]");

const { translations } = Astro.props;
---

<Shell translations={translations}>
  <Sprite name="arrow" />
  <h1>Welcome!!!!</h1>
  <code>Juhui</code>
</Shell>
