---
type Props = {
  title: string;
};

const { title } = Astro.props;
---

<article class="page-padding">
  <header>
    <h1>{title}</h1>
  </header>
  <slot />
</article>

<style>
  article {
    margin-block: var(--size-gutter-huge);
    margin-inline: auto;
    max-width: 45rem;
    font-size: 1.2rem;
  }
</style>
