---
import { resolveSimplePath } from "../utils/paths";
import Sprite from "./Sprite.astro";
import { currentLocale } from "astro-nanostores-i18n:runtime";

type Props = {
  href: string;
  withArrow?: boolean;
  resolvePath?: boolean;
  navigationSpace?: "main" | "footer";
};

const { href, resolvePath = false, navigationSpace = "main", withArrow } = Astro.props;

let path;

if (resolvePath) {
  const locale = currentLocale.get();
  path = await resolveSimplePath(navigationSpace, href, locale);
}
---

<a href={path ?? href} class="button">
  <slot />
  {withArrow && <Sprite name="arrow" />}
</a>

<style>
  a {
    display: flex;
    pointer-events: all;
    align-items: center;

    svg {
      padding: var(--size-gutter);
      rotate: 0.75turn;
      fill: var(--color-secondary);
      height: 1em;
      width: auto;
    }
  }
</style>
