---
/**
 * TabsList Component
 *
 * @description A list of tabs within a Tabs component
 */

type Props = {
  /**
   * Additional classes to apply to the tabs list container
   */
  class?: string;
  /**
   * HTML attributes to spread on the tabs list
   */
  [key: string]: string | number | boolean | undefined;
};

const { class: className, ...rest } = Astro.props;
---

<div class:list={["tabs-list", className]} role="tablist" {...rest}>
  <slot />
</div>

<style>
  :where(.tabs-list) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    margin-block-end: 0.5rem;
  }

  @media (min-width: 31.25rem) {
    :where(.tabs-list) {
      margin-block-end: 0;
    }
  }
</style>
