---
type Props = {
  elements: {
    text: string;
    title: string;
  }[];
  shortSpine?: boolean;
};

const { elements, shortSpine = false } = Astro.props;

const spineHeight = shortSpine ? "100%" : "calc(100% + var(--size-height-divider) + (2 * var(--size-gutter-massive)))";
const displayTriangle = shortSpine ? "none" : "absolute";
---

<div class="timeline">
  <ol>
    {
      elements.map((element) => (
        <li>
          <h6>{element.title}</h6>
          <p>{element.text}</p>
        </li>
      ))
    }
  </ol>
</div>

<style define:vars={{ spineHeight, displayTriangle }}>
  .timeline {
    position: relative;
  }

  h6 {
    margin-top: 0;
  }

  p {
    font-size: 15px;
  }

  ol {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: var(--timeline-gap);
  }

  /* spine of the timeline */
  .timeline::before {
    content: "";
    width: 4px;
    height: var(--spineHeight);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--color-primary);
    z-index: 3; /* above potential dividers */
  }

  li {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 1rem;
    background: var(--color-overlay);
    width: 45%;
    box-shadow: 0px 15px 30px -15px rgba(0, 0, 0, 0.5);
  }

  li::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border-width: 4px;
    border-style: solid;
    border-color: var(--color-primary);
    background: var(--color-white);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 5; /* above spine */
  }

  @media screen and (min-width: 1025px) {
    ol li:nth-child(even) {
      align-self: flex-end;
    }
  }

  @media screen and (max-width: 1025px) {
    li::after {
      left: 90%;
    }

    .timeline::before {
      left: 90%;
    }

    .timeline::after {
      content: "";
      width: 20px;
      aspect-ratio: 1;
      clip-path: polygon(0 0, 50% 100%, 100% 0);
      background-color: var(--color-primary);
      left: calc(90% - 10px);
      bottom: calc(-1 * (5px + var(--size-height-divider) + (2 * var(--size-gutter-massive))));
      position: var(--displayTriangle);
      z-index: 3; /* above potential dividers */
    }

    li {
      width: 85%;
    }

    li:not(:last-child) {
      margin-bottom: 4rem;
    }
  }
</style>
