<section>
  <slot />
</section>

<style>
  section {
    background-color: var(--color-white);
    padding: 8rem var(--size-page-padding);
    z-index: 1;

    .tab {
      h3 {
        margin: 0;
      }
      svg {
        width: 4rem;
        height: auto;
      }
    }

    .tab-panel {
      font-size: 1.125rem;
    }
  }
</style>
