<section class="page-padding">
  <header>
    <slot name="title" />
  </header>
  <slot />
</section>

<style>
  section {
    background-color: var(--color-white);
    z-index: 1;

    .tab {
      h3 {
        margin: 0;
      }
      svg {
        width: 4rem;
        height: auto;
      }
    }

    .tab-panel {
      font-size: 1.125rem;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: var(--size-gutter-big);

        li a {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          min-width: 10rem;

          svg {
            width: 2rem;
            height: auto;
          }
        }
      }
    }
  }
</style>
