<section>
  <slot />
</section>
<style>
  section {
    background-color: var(--color-background);
    padding: var(--size-gutter-big) var(--size-page-padding) 8rem var(--size-page-padding);
    z-index: 1;
  }
</style>
