---
import { C } from "../../site.config";
---

<a href={C.SETTINGS.META.MAPS_LINK} target="_blank" rel="noopener">
  <address>
    {C.SETTINGS.META.TITLE}
    <br />
    {C.SETTINGS.META.ADDRESS}
    <br />
    {C.SETTINGS.META.TOWN}
  </address>
</a>
