---
import Sprite from "../../components/Sprite.astro";
---

<section>
  <div class="carousel">
    <div class="carousel-viewport">
      <div class="carousel-container">
        <slot />
      </div>
    </div>
    <button class="carousel-button prev" aria-label="Previous Slide">
      <Sprite name="arrow" />
    </button>
    <button class="carousel-button next" aria-label="Next Slide">
      <Sprite name="arrow" />
    </button>
  </div>
</section>

<style>
  @property --size-carousel-buttons {
    syntax: "<length>";
    inherits: true;
    initial-value: 2rem;
  }

  section {
    margin: calc(var(--size-height-divider) * -1) 0;
    height: 40rem;
  }

  .carousel {
    position: relative;
    height: 100%;
  }

  .carousel-viewport {
    overflow: hidden;
    height: 100%;
  }
  .carousel-container {
    display: flex;
    height: 100%;
  }
  .carousel-container > :global(*) {
    flex: 0 0 100%;
    min-width: 0;
  }

  .carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    width: var(--size-carousel-buttons);
    height: var(--size-carousel-buttons);

    svg {
      width: 100%;
      height: 100%;
      fill: var(--color-secondary);
    }

    &.prev {
      left: calc(-1 * var(--size-carousel-buttons) - 0.5rem);

      svg {
        rotate: 0.25turn;
      }
    }

    &.next {
      right: calc(-1 * var(--size-carousel-buttons) - 0.5rem);

      svg {
        rotate: 0.75turn;
      }
    }
  }
</style>

<script>
  import type { EmblaOptionsType } from "embla-carousel";
  import EmblaCarousel from "embla-carousel";
  import Autoplay from "embla-carousel-autoplay";
  import ClassNames from "embla-carousel-class-names";

  const embla = document.querySelector(".carousel") as HTMLElement;
  if (!embla) throw new Error("Embla node not found");

  const emblaViewport = embla.querySelector(".carousel-viewport") as HTMLElement;
  const options: EmblaOptionsType = { loop: true };
  const plugins = [Autoplay(), ClassNames()];
  const emblaApi = EmblaCarousel(emblaViewport, options, plugins);

  const prevButton = embla.querySelector(".carousel-button.prev") as HTMLElement;
  const nextButton = embla.querySelector(".carousel-button.next") as HTMLElement;
  prevButton.addEventListener("click", () => emblaApi.scrollPrev(), false);
  nextButton.addEventListener("click", () => emblaApi.scrollNext(), false);
</script>
